HEADER
{
}
#under-header
{
	clear: both;
}
#mainTitle
{
	font: bold xx-large / 1em Verdana;
	margin: 5px;
	float: left;
}
#searchRow
{
	float: right;
}
#searchRow INPUT
{
	width: 174px;
	height: 20px;
	margin-bottom: 5px;
}
#searchRow INPUT[type=submit]
{
	height: 25px;
	width: 120px;
	text-align: center;
	vertical-align: middle;
}
#searchRow INPUT[type=submit].search-button
{
	width: 25px;
	height: 25px;
	background: url("/Content/Images/search.png") no-repeat;
	border-width: 0;
}
#searchRow INPUT[type=submit].search-button:hover
{
	background: url("/Content/Images/search-hover.png") no-repeat;
}
