<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="enableSimpleMembership" value="true" />
    <add key="webPages:Version" value="2.0" />
    <add key="BookteraLogDataMode" value="json" />
    <!--<add key="BookteraLogDataMode" value="xml" />-->
    <add key="AcceptedImageExtensions" value=".jpg;.jpeg;.bmp;.png;.gif" />
    <add key="SendEmails" value="true" />
    <add key="SendEmailsToRecipient" value="false" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="DBEntities" connectionString="metadata=res://*/EntityFramework.BookTera.csdl|res://*/EntityFramework.BookTera.ssdl|res://*/EntityFramework.BookTera.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=BookTera;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BookTeraDB" connectionString="Data Source=.;Initial Catalog=BookTera;Integrated Security=True;Pooling=false" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Information, ActivityTracing, Error">
        <listeners>
          <add name="messages" type="System.Diagnostics.XmlWriterTraceListener" initializeData="messages.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Collections, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Globalization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms cookieless="UseCookies" />
    </authentication>
    <membership defaultProvider="SimpleMembershipProvider">
      <providers>
        <clear />
        <!--<add connectionStringName="BookTeraDB" name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="false"
             requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5"
             minRequiredPasswordLength="6"
             minRequiredNonalphanumericCharacters="0"
             passwordAttemptWindow="10"
             applicationName="BookTera" />-->
        <add name="SimpleMembershipProvider" type="WebMatrix.WebData.SimpleMembershipProvider, WebMatrix.WebData" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add connectionStringName="BookTeraDB" name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" applicationName="BookTera" />
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="BookTeraDB" name="AspNetSqlRoleProvider" applicationName="BookTera" type="System.Web.Security.SqlRoleProvider" />
        <!--<add name="AspNetWindowsTokenRoleProvider" applicationName="ebook" type="System.Web.Security.WindowsTokenRoleProvider" />-->
      </providers>
    </roleManager>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.12.0" newVersion="1.2.12.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.15.0" newVersion="4.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="3000" maxSizeOfMessageToLog="2000" />
    </diagnostics>
    <behaviors>
      <serviceBehaviors>
        <behavior name="AllowAny">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" httpHelpPageEnabled="true" />
          <!--<dataContractSerializer maxItemsInObjectGraph="2147483647" />-->
        </behavior>
      </serviceBehaviors>
      <!-- !! endpointBehaviors are setting in code !! -->
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="General" />
        <binding name="BookteraAuthentication" />
        <binding name="Author" />
        <binding name="Category" />
        <binding name="Image" transferMode="StreamedRequest" maxReceivedMessageSize="2000000" />
        <binding name="ProductGroup" />
        <binding name="Product" />
        <binding name="Publisher" />
        <binding name="UserGroup" />
        <binding name="UserOrder" />
        <binding name="UserProfile" />
        <binding name="RegistrationManager" />
        <binding name="TransactionManager" />
        <binding name="BookManager" />
        <binding name="Comment" />
        <binding name="Rating" />
        <binding name="UserAddress" />
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="BookteraAuthentication" />
        <binding name="Author" />
        <binding name="Category" />
        <binding name="Image" />
        <binding name="ProductGroup" />
        <binding name="Product" />
        <binding name="Publisher" />
        <binding name="UserGroup" />
        <binding name="UserOrder" />
        <binding name="UserProfile" />
        <binding name="RegistrationManager" />
        <binding name="TransactionManager" />
        <binding name="BookManager" />
        <binding name="Comment" />
        <binding name="Rating" />
        <binding name="UserAddress" />
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="AllowAny" name="WcfHost.Authentication.BookteraAuthenticationService">
        <endpoint contract="WcfInterfaces.Authentication.IBookteraAuthenticationService" address="" name="BookteraAuthenticationRest" binding="webHttpBinding" bindingConfiguration="BookteraAuthentication" />
        <endpoint contract="WcfInterfaces.Authentication.IBookteraAuthenticationService" address="basic" name="BookteraAuthenticationBasic" binding="basicHttpBinding" bindingConfiguration="BookteraAuthentication" />
      </service>
      <service behaviorConfiguration="AllowAny" name="WcfHost.EntityManagers.AuthorManagerService">
        <endpoint contract="WcfInterfaces.EntityManagers.IAuthorManager" address="" name="AuthorRest" binding="webHttpBinding" bindingConfiguration="Author" />
        <endpoint contract="WcfInterfaces.EntityManagers.IAuthorManager" address="basic" name="AuthorBasic" binding="basicHttpBinding" bindingConfiguration="Author" />
      </service>
      <service behaviorConfiguration="AllowAny" name="WcfHost.EntityManagers.CategoryManagerService">
        <endpoint contract="WcfInterfaces.EntityManagers.ICategoryManager" address="" name="CategoryRest" binding="webHttpBinding" bindingConfiguration="Category" />
        <endpoint contract="WcfInterfaces.EntityManagers.ICategoryManager" address="basic" name="CategoryBasic" binding="basicHttpBinding" bindingConfiguration="Category" />
      </service>
      <service behaviorConfiguration="AllowAny" name="WcfHost.EntityManagers.CommentManagerService">
        <endpoint contract="WcfInterfaces.EntityManagers.ICommentManager" address="" name="CommentRest" binding="webHttpBinding" bindingConfiguration="Comment" />
        <endpoint contract="WcfInterfaces.EntityManagers.ICommentManager" address="basic" name="CommentBasic" binding="basicHttpBinding" bindingConfiguration="Comment" />
      </service>
      <service behaviorConfiguration="AllowAny" name="WcfHost.EntityManagers.ImageManagerService">
        <endpoint contract="WcfInterfaces.EntityManagers.IImageManagerRest" address="" name="ImageRest" binding="webHttpBinding" bindingConfiguration="Image" />
        <endpoint contract="WcfInterfaces.EntityManagers.IImageManager" address="basic" name="ImageBasic" binding="basicHttpBinding" bindingConfiguration="Image" />
      </service>
      <service behaviorConfiguration="AllowAny" name="WcfHost.EntityManagers.ProductManagerService">
        <endpoint contract="WcfInterfaces.EntityManagers.IProductManager" address="" name="ProductRest" binding="webHttpBinding" bindingConfiguration="Product" />
        <endpoint contract="WcfInterfaces.EntityManagers.IProductManager" address="basic" name="ProductBasic" binding="basicHttpBinding" bindingConfiguration="Product" />
      </service>
      <service behaviorConfiguration="AllowAny" name="WcfHost.EntityManagers.ProductGroupManagerService">
        <endpoint contract="WcfInterfaces.EntityManagers.IProductGroupManager" address="" name="ProductGroupRest" binding="webHttpBinding" bindingConfiguration="ProductGroup" />
        <endpoint contract="WcfInterfaces.EntityManagers.IProductGroupManager" address="basic" name="ProductGroupBasic" binding="basicHttpBinding" bindingConfiguration="ProductGroup" />
      </service>
      <service behaviorConfiguration="AllowAny" name="WcfHost.EntityManagers.PublisherManagerService">
        <endpoint contract="WcfInterfaces.EntityManagers.IPublisherManager" address="" name="PublisherRest" binding="webHttpBinding" bindingConfiguration="Publisher" />
        <endpoint contract="WcfInterfaces.EntityManagers.IPublisherManager" address="basic" name="PublisherBasic" binding="basicHttpBinding" bindingConfiguration="Publisher" />
      </service>
      <service behaviorConfiguration="AllowAny" name="WcfHost.EntityManagers.RatingManagerService">
        <endpoint contract="WcfInterfaces.EntityManagers.IRatingManager" address="" name="RatingRest" binding="webHttpBinding" bindingConfiguration="Rating" />
        <endpoint contract="WcfInterfaces.EntityManagers.IRatingManager" address="basic" name="RatingBasic" binding="basicHttpBinding" bindingConfiguration="Rating" />
      </service>
      <service behaviorConfiguration="AllowAny" name="WcfHost.EntityManagers.UserAddressManagerService">
        <endpoint contract="WcfInterfaces.EntityManagers.IUserAddressManager" address="" name="UserAddressRest" binding="webHttpBinding" bindingConfiguration="UserAddress" />
        <endpoint contract="WcfInterfaces.EntityManagers.IUserAddressManager" address="basic" name="UserAddressBasic" binding="basicHttpBinding" bindingConfiguration="UserAddress" />
      </service>
      <service behaviorConfiguration="AllowAny" name="WcfHost.EntityManagers.UserGroupManagerService">
        <endpoint contract="WcfInterfaces.EntityManagers.IUserGroupManager" address="" name="UserGroupRest" binding="webHttpBinding" bindingConfiguration="UserGroup" />
        <endpoint contract="WcfInterfaces.EntityManagers.IUserGroupManager" address="basic" name="UserGroupBasic" binding="basicHttpBinding" bindingConfiguration="UserGroup" />
      </service>
      <service behaviorConfiguration="AllowAny" name="WcfHost.EntityManagers.UserOrderManagerService">
        <endpoint contract="WcfInterfaces.EntityManagers.IUserOrderManager" address="" name="UserOrderRest" binding="webHttpBinding" bindingConfiguration="UserOrder" />
        <endpoint contract="WcfInterfaces.EntityManagers.IUserOrderManager" address="basic" name="UserOrderBasic" binding="basicHttpBinding" bindingConfiguration="UserOrder" />
      </service>
      <service behaviorConfiguration="AllowAny" name="WcfHost.EntityManagers.UserProfileManagerService">
        <endpoint contract="WcfInterfaces.EntityManagers.IUserProfileManager" address="" name="UserProfileRest" binding="webHttpBinding" bindingConfiguration="UserProfile" />
        <endpoint contract="WcfInterfaces.EntityManagers.IUserProfileManager" address="basic" name="UserProfileBasic" binding="basicHttpBinding" bindingConfiguration="UserProfile" />
      </service>
      <service behaviorConfiguration="AllowAny" name="WcfHost.BookManagerService">
        <endpoint contract="WcfInterfaces.IBookManager" address="" name="BookManagerRest" binding="webHttpBinding" bindingConfiguration="BookManager" />
        <endpoint contract="WcfInterfaces.IBookManager" address="basic" name="BookManagerBasic" binding="basicHttpBinding" bindingConfiguration="BookManager" />
      </service>
      <service behaviorConfiguration="AllowAny" name="WcfHost.RegistrationManagerService">
        <endpoint contract="WcfInterfaces.IRegistrationManager" address="" name="RegistrationManagerRest" binding="webHttpBinding" bindingConfiguration="RegistrationManager" />
        <endpoint contract="WcfInterfaces.IRegistrationManager" address="basic" name="RegistrationManagerBasic" binding="basicHttpBinding" bindingConfiguration="RegistrationManager" />
      </service>
      <service behaviorConfiguration="AllowAny" name="WcfHost.TransactionManagerService">
        <endpoint contract="WcfInterfaces.ITransactionManager" address="" name="TransactionManagerRest" binding="webHttpBinding" bindingConfiguration="TransactionManager" />
        <endpoint contract="WcfInterfaces.ITransactionManager" address="basic" name="TransactionManagerBasic" binding="basicHttpBinding" bindingConfiguration="TransactionManager" />
      </service>
      <service behaviorConfiguration="AllowAny" name="WcfHost.ForGeneratingModelsService">
        <endpoint contract="WcfInterfaces.IForGeneratingModels" address="basic" name="ForGeneratingModelsBasic" binding="basicHttpBinding" bindingConfiguration="General" />
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <!--<modules runAllManagedModulesForAllRequests="true"/>-->
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <elmah>
    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <security allowRemoteAccess="false" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="BookTeraDB" applicationName="BookteraWcfHost" />
  </elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      <!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />  
      </authorization>
      -->
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
  <log4net>
    <renderer renderingClass="UtilsLocal.Log.BookteraLogRenderer, UtilsLocal" renderedClass="System.Object" />
    <appender name="elmahappender" type="elmahappender_log4net.ELMAHAppender, elmahappender_log4net">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message %newline                   Level: %-5level %newline                   Logger: %logger %newline                   Date: %date --- Utcdate: %utcdate %newline                   Timestamp: %timestamp %newline                   Exception: %exception %newline" />
        <!--        Date: %date %newline
                  Level: %-5level %newline
                  Logger: %logger %newline
                  Message: %message %newline
                  Appdomain: %appdomain %newline
                  Date: %date %newline
                  File: %file %newline
                  Identity: %identity %newline
                  Level: %level %newline
                  Line: %line %newline
                  Location: %location %newline
                  Logger: %logger %newline
                  Method: %method %newline
                  Message: %message %newline
                  Timestamp: %timestamp %newline
                  Type: %type %newline
                  Username: %username %newline
                  Utcdate: %utcdate %newline
                  Exception: %exception %newline"-->
      </layout>
      <UseNullContext>False</UseNullContext>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="elmahappender" />
    </root>
  </log4net>
</configuration>